/*==================================*/
/*-----PAGE SETUP-----*/
/*==================================*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
/*    border: 2px solid red;*/
}

html {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: 'Lato', sans-serif, 'arial';
    font-weight: 300;
    text-rendering: optimizeLegibility;
/*    scroll-behavior: smooth;*/
}

.clear-fix {zoom:1}
.clear-fix:after {
    content: '.';
    visibility: hidden;
    clear: both;
    height: 0;
    display: block;
}

.row {
    width: 85%;
    margin: 0 auto;
}
/*=====================================*/
/*-----CODE OF PAGE-----*/
/*=====================================*/

header .row {
    overflow: hidden;
    width: 100%;
}

/*------HEADER-------*/
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;    
}

.hero-text-box {
    width: 100%;
    position: absolute;
    top: 40%;
}

.hero-text-box .full-btn {
    margin: 0 1em 0 6.8em; 
}

/*------HEADING-------*/
h1 {
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 20px 130px;
}

h2 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: 180%;
    padding-top: 40px;
    text-transform: uppercase;
}

h2:after {
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
    content: " ";
    display: block;
}

h3 {
    font-weight: 300;
    font-size: 120%;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/*------BUTTONS-------*/
.btn:link,
.btn:visited,
input[type=submit] {
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 200px;
    border: 1px solid #e67e22;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.full-btn:link,
.full-btn:visited,
input[type=submit] {
    background-color: #e67e22;
}

.ghost-btn:link,
.ghost-btn:visited {
    color: #e67e22;
}

.full-btn:active,
.full-btn:hover,
input[type=submit]:active,
input[type=submit]:hover {
    background-color: #bf6516;
    border: 1px solid #bf6516;
}

.ghost-btn:active,
.ghost-btn:hover {
    background-color: #bf6516;
    border: 1px solid #bf6516;
    color: #fff;
}
/*-----------LOGO---------*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin: 30px 0 0 130px;
    overflow: hidden;
}

.logo-black {
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0 5px 130px;
}

.logo-black {
    display: none;
    
}
/*--------MAIN NAV BAR---------*/
.main-nav {
    float: right;
    list-style: none;
    margin: 2.8em 6.5em 0 0;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding-bottom: 5px; 
    text-decoration: none;
    font-size: 90%;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
    overflow: hidden;
}

.main-nav li a:active,
.main-nav li a:hover {
    border-bottom: 2px solid #e67e22;
}

/*--------MOBILE NAV BAR---------*/

.nav-mobile-icon {
    float: right;
    cursor: pointer;
    margin-top: 1em;
    display: none;
}

.nav-mobile-icon i {
    color: #fff;
    font-size: 200%;
}


/*--------STICKY NAV BAR---------*/

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 999;
}

.sticky .main-nav {
    float: right;
    list-style: none;
    margin: 1em 7em 0 0;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding-bottom: 15px; 
    color: #555;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
    overflow: hidden;
}

.sticky .main-nav li a:active,
.sticky .main-nav li a:hover {
    border-bottom: 2px solid #e67e22;
}

.sticky .logo {
    display: none;
}
.sticky .logo-black {
    display: block;
}


/*----------------- SECTION ONE -----------------*/

.features{
    padding-top: 3em;
}

.features .row {
    overflow: hidden;
}

.box {
    padding: 1%;
    overflow: hidden;
}

.row .main-p {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 145%;
    text-align: center;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}

.box .icon {
    font-size: 350%;
    color: #e67e22;
    display: block;
    margin-bottom: 15px;
}

/*----------------- SECTION TOW -----------------*/

.meals {
    padding: 0;
    margin-top: 70px;
    overflow: hidden;
/*    background-color: #000;*/
}
.meals-list {
    width: 100%;
    list-style: none;
    overflow: hidden;
}

.meals-list li {
    display: block;
    float: left;
    width: 25%;

}

.meals-photo {
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.meals-photo img {
    overflow: hidden;
/*    opacity: 0.7;*/
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.13);
    transform: scale(1.13);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s/*, opacity 0.5s*/;
    transition: transform 0.5s, -webkit-transform 0.5s;
    background-color: #000;
    overflow: hidden;
}

.meals-photo img:hover {
/*    opacity: 1;*/
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*----------------- SECTION THREE -----------------*/

.steps {
    background-color: #f4f4f4;
    padding-top: 3em;
}

.steps-box:first-child {
    padding: 3%;
    text-align: right;
    margin-top: 1.8em;
}

.steps-box:last-child {
    padding: 3%;
    margin-top: 2.7em;
}

.iphone-app {
    width: 45%;
}

.work-steps {
    margin-bottom: 3.125em;
}

.work-steps:last-of-type {
    margin-bottom: 5em;
}

.work-steps div {
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    color: #e67e22;
    height: 2.125em;
    width: 2.125em;
    text-align: center;
    float: left; 
    padding: 10px;
    font-size: 150%;
    margin-right: 1em;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*----------------- SECTION four -----------------*/
.cities {
    padding-top: 3em;
}

.box2 img {
    width: 100%;
    height: auto;
    margin: 2em 0 1em 0;
}

.city-feature {
    margin-bottom: 10px;
    font-size: 90%;
}

.city-feature a:link,
.city-feature a:visited {
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

.city-feature a:hover,
.city-feature a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

.icon-small {
    display: inline-block;
    width: 2em;
    text-align: center;
    font-size: 120%;
    color: #e67e22;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px
}

/*----------------- SECTION FIVE -----------------*/

.customer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    margin-top: 1.8em;
    background-attachment: fixed;
    color: #fff;
}

blockquote {
    margin-top: 2.5em;
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
}

cite {
    display: block;
    margin-top: 1.6em;
    font-size: 85%;
    line-height: 250%;
    overflow: hidden;
}

cite img {
    height: 45px;
    border-radius: 50%;
    display: block;
    margin-right: 0.6em;
    vertical-align: middle;
    float:left;
}

/*----------------- SECTION SIX -----------------*/

.plans {
    background-color: #f4f4F4;
    overflow: hidden;
    padding: 3em 0;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-top: 2em;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 1em;
    border-bottom: 1px solid #e8e8e8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
}

.plan-box div:last-child {
    border: 0;
    text-align: center;
}

.plan-price{
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 90%;
}

.plan-box ul {
    list-style: none;
}

plan-box ul li {
    padding: 5px 0;
}

/*----------------- SECTION SEVEN -----------------*/

.form {
    margin-top: 2em;
}

.form .row:first-child {
    margin-top: 2em;
}

.contact-form {
    margin: 0 auto;
    width: 70%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=submit] {
    cursor: pointer;
}

*:focus {
    outline: none;
}

/*----------------- FOOTER -----------------*/

footer {
    background-color: #333;
    padding: 3em;
    margin-top: 5em;
    font-size: 80%;
}

.nav-footer {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
}

.nav-footer li,
.social-icons li {
    display: inline-block;
    margin-right: 1.2em;
}

.nav-footer li:last-child,
.social-icons li:last-child {
    margin-right: 0;
}

.nav-footer li a:link,
.nav-footer li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 170%;
}

.nav-footer li a:active,
.nav-footer li a:hover {
    color: #ddd;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-logo-facebook:hover {
    color: #3b5998;
}

.ion-logo-twitter:hover {
    color: #55acee;
}

.ion-logo-instagram:hover {
    color: #c32aa3;
}

.ion-logo-googleplus:hover {
    color: #db4437;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 1.8em;
}



/*-------Animations--------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}
